/* Ele ira multiplicar 14px da font-size do pai x 1.2rem do em = a 16.8px */

#pai-em {
  font-size: 14px;
}

.em {
  background: blue;
  width: 1em; 
  /* Section em fica com 10px devido ao elemento pai
  height 1em */
  font-size: 1.2em;
}

.rem {
  background: wheat;
  width: 13rem;
  font-size: 48px; 
  /* alguns navegadore não suportam rem */

  font-size: 3rem; 
  /* root-font-size element font-size = rem value */
}

#pai {
  font-size: 14px;
}

.filho2 {
  /* relativo a font-size do pai ou do body */
  font-size: 1.2em;
}

.rem2 {
  font-size: 3rem;
}

#pai-2 {
  background: yellowgreen;
  width: 450px;
  height: 400px;
}

.filho3 {
  background: lightcoral;
  width: 25%;
  height: 50%;
}